<!--
  Generated template for the LeaderBoard page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title><b  style="color: #704d4c;">Leader Board</b></ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="point-container">
        <div class="circle box text-color">
            <div class="point" text-center>
                <span class="trim point-number">{{points}}</span>
                <span class="trim point-text">Points</span>
            </div>
        </div>
    </div>

    <div *ngIf="achievements != null">
        <p class="text-color">Trophies</p>
        <swiper (indexChange)="onIndexChange($event)" [config]="config">
            <div *ngFor="let achievement of achievements; let i = index">
                <img src="{{achievement.badge}}" class="avatar" [ngClass]="{'finished': achievement?.unlocked != null, 'unfinished': achievement?.unlocked == null}">
            </div>
        </swiper>
        <div text-center class="text-color">{{achievements[selectedIndex]?.name}}</div>
        <div text-center class="text-color">{{achievements[selectedIndex]?.description}}</div>
        <div text-center class="text-color">{{achievements[selectedIndex]?.unlocked}} &nbsp;</div>
    </div>
</ion-content>
