<!--
  Generated template for the MeetballButton component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-grid>
    <ion-row>
        <ion-col width-20 text-center>
            <button ion-button color="{{colors[0]}}" clear icon-only (click)="onClick(0)" class="meetBall">
                <custom-icon set="ci" name="face1_unselected"></custom-icon>
            </button>
        </ion-col>
        <ion-col width-20 text-center>
            <button ion-button color="{{colors[1]}}" clear icon-only (click)="onClick(1)" class="meetBall">
                <custom-icon set="ci" name="face2_unselected"></custom-icon>
            </button>
        </ion-col>
        <ion-col width-20 text-center>
            <button ion-button color="{{colors[2]}}" clear icon-only (click)="onClick(2)" class="meetBall">
                <custom-icon set="ci" name="face3_unselected"></custom-icon>
            </button>
        </ion-col>
        <ion-col width-20 text-center>
            <button ion-button color="{{colors[3]}}" clear icon-only (click)="onClick(3)" class="meetBall">
                <custom-icon set="ci" name="face4_unselected"></custom-icon>
            </button>
        </ion-col>
        <ion-col width-20 text-center>
            <button ion-button color="{{colors[4]}}" clear icon-only (click)="onClick(4)" class="meetBall">
                <custom-icon set="ci" name="face5_unselected"></custom-icon>
            </button>
        </ion-col>
    </ion-row>
</ion-grid>
