page-home {
  ion-content {
    margin:0;
    padding:0;
    height: 100%;
  }

  .no-scroll .scroll-content{
    overflow: hidden;
  }

  .background{
    background-size: 100% 100% !important;
    min-height:100% !important;
  }

  .loginButton{
    margin: 5vh 10vw 0 10vw;
    background-color: #cf5959;
    width: 80vw;
    text-align: center;
    color: white;
  }

  .loader {
    border: solid 1px blue;
    text-align: center;
    vertical-align: middle;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
    font-size: 120px !important;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .no-background{
    background: none;
  }

  .no-border{
    border: none;
  }

  .field-wrapper{
    width: 80vw;
    margin: 0 10vw;
  }

  .rose{
    color: #cf5959;
  }

  .border{
    border-top: 0.55px solid #c8c7cc;
    border-bottom: 0.55px solid #c8c7cc;
  }

  .form-wrapper{
    position: absolute;
    top: 60vh;
  }

  .no-padding{
    padding: 0px;
  }

  .width-100{
    width: 100%;
  }

}
