page-home {
  ion-content {
    margin:0;
    padding:0;
    height: 100%;
  }

  .no-scroll .scroll-content{
    overflow: hidden;
  }

  .background{
    background-size: 100% 100% !important;
    min-height:100% !important;
  }

  .loginButton{
    margin: 0vh 10vw 0 10vw;
    background-color: #cf5959;
    width: 80vw;
    text-align: center;
    color: white;
  }

  .field-wrapper{
    width: 80vw;
    margin: 0 10vw;
  }

  .rose{
    color: #cf5959;
  }

  .border-bottom-gray{
    border-bottom: 0.55px solid #c8c7cc !important;
  }

  .border-bottom-green{
    border-bottom: 0.55px solid #00cc13;
  }

  .border-bottom-red{
    border-bottom: 0.55px solid #cc0013;
  }

  .form-wrapper{
    position: absolute;
    top: 60vh;
  }

  .width-100{
    width: 100%;
  }

  input.un-touched{
    border-bottom: 0.55px solid #c8c7cc !important;
  }

  .error-message * {
    border: none !important;
    padding: 0px !important;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;

    font-size: 5vw;
  }

  ion-item > .item-inner{
    padding: 0px !important;
  }

  .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }

  .input-cover {
    position: static !important;
  }
}
